<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <springProperty name="logPath" source="logging.file.path" defaultValue="/data/logs"/>
    <springProperty name="logName" source="spring.application.name" defaultValue="pre"/>
    <springProperty name="logLevel" source="logging.level.root" defaultValue="INFO"/>
    <springProperty name="maxHistory" source="logging.file.max-history" defaultValue="30"/>
    <springProperty name="logCharset" source="logging.charset" defaultValue="UTF-8"/>

    <!--格式化输出：%d表示日期，%highlight：按日志级别着不同颜色，%-5level：级别从左显示5个字符宽度，
                   %magenta：品红色，%thread表示线程名，%cyan青色，%msg：日志消息，%n是换行符  -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} | %highlight(%-5level) | %magenta(%thread) | %cyan(%logger{20}) | %msg%n"/>
    <!--格式化输出：%d表示日期，%-5level：级别从左显示5个字符宽度，%thread表示线程名，%msg：日志消息，%n是换行符  -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5level | %thread | %logger{20} | %msg%n"/>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- root logger -->
    <appender name="rootAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/${logName}/${logName}.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logLevel}</level>
        </filter>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <immediateFlush>true</immediateFlush>
            <charset>${logCharset}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/${logName}/${logName}.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.web.servlet.DispatcherServlet" level="ERROR"/>
    <logger name="org.springframework.web.servlet.mvc.support.DefaultHandlerExceptionResolver" level="INFO" />
    <logger name="ch.qos.logback" level="INFO" />
    <logger name="org.mybatis.spring.mapper.MapperScannerConfigurer" level="INFO" />
    <logger name="org.mybatis.spring.mapper.ClassPathMapperScanner" level="ERROR" />
    <logger name="org.mybatis.spring.SqlSessionFactoryBean" level="INFO" />
    <logger name="org.apache.commons.httpclient" level="INFO" />
    <logger name="org.apache.commons.beanutils" level="INFO" />
    <logger name="org.apache.http.headers" level="INFO" />
    <logger name="org.apache.http.client.protocol" level="INFO" />
    <logger name="org.apache.ibatis.logging.LogFactory" level="INFO" />
    <logger name="java.sql.ResultSet" level="INFO" />
    <!-- Spring-data-redis日志 -->
    <logger name="io.lettuce.core" level="INFO"/>
    <!-- Spring-session日志 -->
    <logger name="org.apache.catalina.core.ContainerBase" level="ERROR"/>

    <!-- 日志输出级别 -->
    <root level='property("logging.level.root")'>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="rootAppender"/>
    </root>
</configuration>
